
/*验证密码*/
#inputtext
{
	color:#999;
}
.inputbox
{
	margin:0 0 0 400;
	width:1000px;
	position:absolute;
}
.inputinform
{
	display:inline-block;
	font-size: 18px;
	color:white;
	padding-left: 24px;
	background:url("pictures/dodgeremoved.jpg") no-repeat left center;
	background-size:25px;
}
.wronged
{
	color:red;
	background:url("pictures/dodgeredremoved.jpg") no-repeat left center;
	background-size:40px;
	padding-left:35px;
}
